<div class="player-container  {{player1ResultStateClass}}">
  <div class="player-name-container">
    {{#link-to "player" (query-params player=match.player1.id) class="player-link"}}{{match.player1.lastName}}{{/link-to}}
  </div>
  <div class="set-container">
    {{match.set1Pl1}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player1.id set=1}}
  </div>
  <div class="set-container">
    {{match.set2Pl1}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player1.id set=2}}
  </div>
  <div class="set-container">
    {{match.set3Pl1}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player1.id set=3}}
  </div>
  <div class="set-container">
    {{match.set4Pl1}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player1.id set=4}}
  </div>
  <div class="set-container">
    {{match.set5Pl1}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player1.id set=5}}
  </div>
</div>
<div class="player-container next-player {{player2ResultStateClass}}">
  <div class="player-name-container">
    {{#link-to "player" (query-params player=match.player2.id) class="player-link"}}{{match.player2.lastName}}{{/link-to}}
  </div>
  <div class="set-container">
    {{match.set1Pl2}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player2.id set=1}}
  </div>
  <div class="set-container">
    {{match.set2Pl2}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player2.id set=2}}
  </div>
  <div class="set-container">
    {{match.set3Pl2}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player2.id set=3}}
  </div>
  <div class="set-container">
    {{match.set4Pl2}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player2.id set=4}}
  </div>
  <div class="set-container">
    {{match.set5Pl2}}
  </div>
  <div class="tiebreak-container">
    {{set-tiebreak match player=match.player2.id set=5}}
  </div>
</div>
