<div class="alert alert-error" style="height:70px;width:330px">
  <div style="margin-top:10px">
    <div style="float:left;width:190px" >
      <label>{{match.player1.lastName}}</label>
    </div>
    <div style="float:left;width:20px;text-align:right" >
      <label>{{match.set1Pl1}}</label>
    </div>      
    <div style="float:left;width:30px;text-align:right" >
      <label>{{match.set2Pl1}}</label>
    </div>      
    <div style="float:left;width:30px;text-align:right" >
      <label>{{match.set3Pl1}}</label>
    </div>      
    <div style="float:left;width:30px;text-align:right" >
      <label>{{match.set4Pl1}}</label>
    </div>      
    <div style="float:left;width:30px;text-align:right" >
      <label>{{match.set5Pl1}}</label>
    </div>      
  </div>
  <div style="clear:left"></div>
  <div style="margin-top:10px">
    <div style="float:left;width:190px" >
      <label>{{match.player2.lastName}}</label>
    </div>
    <div style="float:left;width:20px;text-align:right" >
      <label>{{match.set1Pl2}}</label>
    </div>      
    <div style="float:left;width:30px;text-align:right" >
      <label>{{match.set2Pl2}}</label>
    </div>      
    <div style="float:left;width:30px;text-align:right" >
      <label>{{match.set3Pl2}}</label>
    </div>      
    <div style="float:left;width:30px;text-align:right" >
      <label>{{match.set4Pl2}}</label>
    </div>      
    <div style="float:left;width:30px;text-align:right" >
      <label>{{match.set5Pl2}}</label>
    </div>      
  </div>
</div>