<div class="tournament-container">
  <span class="tournament-title">{{tournamentName}}</span>
  <div class="layout-row">
    <div>
      <span class="round-title">4TH round</span>
      <hr />
      {{#each model.matches4Rnd as |match|}}
      <div class="match-container-4rnd">
        {{tournament-match
          match=match
          tournament=tournamentName
          }}
      </div>
      {{/each}}
    </div>
    {{#if model.matchesQf}}
      <div class="qf-container">
        <span class="round-title">QF</span>
        <hr />
        {{#each model.matchesQf as |match|}}
        <div class="match-container-qf">
          {{tournament-match-small
            match=match
            tournament=tournamentName
            }}
        </div>
        {{/each}}
      </div>
    {{/if}}
    {{#if model.matchesSf}}
      <div class="sf-container">
        <span class="round-title">SF</span>
        <hr />
        {{#each model.matchesSf as |match|}}
        <div class="match-container-sf">
          {{tournament-match-small
            match=match
            tournament=tournamentName
            }}
        </div>
        {{/each}}
      </div>
    {{/if}}
    {{#if model.matchFinal}}
      <div class="final-container">
        <span class="round-title">Final</span>
        <hr />
        <div class="match-container-final">
          {{tournament-match-small
            match=model.matchFinal
            tournament=tournamentName
            }}
        </div>
      </div>
    {{/if}}
  </div>
</div>
