<h2>Results of seeded players:</h2>

<table class="colored-table">
  <thead>
    <tr>
      <th>Round</th>
      <th>Player1</th>
      <th>Player2</th>
      <th>Set1</th>
      <th></th>
      <th>Set2</th>
      <th></th>
      <th>Set3</th>
      <th></th>
      <th>Set4</th>
      <th></th>
      <th>Set5</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |result|}}
      <tr>
        <td>{{result.round}}</td>
        <td>{{result.player1.lastName}}</td>
        <td>{{result.player2.lastName}}</td>
        <td>{{result.set1Pl1}}</td>
        <td>{{result.set1Pl2}}</td>
        <td>{{result.set2Pl1}}</td>
        <td>{{result.set2Pl2}}</td>
        <td>{{result.set3Pl1}}</td>
        <td>{{result.set3Pl2}}</td>
        <td>{{result.set4Pl1}}</td>
        <td>{{result.set4Pl2}}</td>
        <td>{{result.set5Pl1}}</td>
        <td>{{result.set5Pl2}}</td>
      </tr>  
    {{/each}}  
  </tbody>      
</table>  

{{#each model as |match|}}
  <div class="alert alert-error" style="height:70px;width:330px">
    <div style="margin-top:10px">
      <div style="float:left;width:190px" >
        <label>{{match.player1.lastName}}</label>
      </div>
      <div style="float:left;width:20px;text-align:right" >
        <label>{{match.set1Pl1}}</label>
      </div>      
      <div style="float:left;width:30px;text-align:right" >
        <label>{{match.set2Pl1}}</label>
      </div>      
      <div style="float:left;width:30px;text-align:right" >
        <label>{{match.set3Pl1}}</label>
      </div>      
      <div style="float:left;width:30px;text-align:right" >
        <label>{{match.set4Pl1}}</label>
      </div>      
      <div style="float:left;width:30px;text-align:right" >
        <label>{{match.set5Pl1}}</label>
      </div>      
    </div>
    <div style="clear:left"></div>
    <div style="margin-top:10px">
      <div style="float:left;width:190px" >
        <label>{{match.player2.lastName}}</label>
      </div>
      <div style="float:left;width:20px;text-align:right" >
        <label>{{match.set1Pl2}}</label>
      </div>      
      <div style="float:left;width:30px;text-align:right" >
        <label>{{match.set2Pl2}}</label>
      </div>      
      <div style="float:left;width:30px;text-align:right" >
        <label>{{match.set3Pl2}}</label>
      </div>      
      <div style="float:left;width:30px;text-align:right" >
        <label>{{match.set4Pl2}}</label>
      </div>      
      <div style="float:left;width:30px;text-align:right" >
        <label>{{match.set5Pl2}}</label>
      </div>      
    </div>
  </div>
{{/each}}  

