{{#link-to "seeding" (query-params year="2015")}}
  Australian Open 2015 seedings
{{/link-to}}

{{#link-to "seeding" (query-params year="2016")}}
  Australian Open 2016 seedings
{{/link-to}}

{{#link-to "result" (query-params year="2016")}}
  Australian Open 2016 final
{{/link-to}}

<div class="layout-row layout-align-start-start choiceContainer">
  {{#paper-autocomplete
    label="Choose a player..."
    options=model.players
    triggerClass="selectPlayer"
    searchField="lastName"
    selected=model.selectedPlayer.lastName
    onSelectionChange=(action (mut model.selectedPlayer))
    as |player self|}}
    {{paper-autocomplete-highlight
      label=player.lastName
      searchText=self.searchText
      flags="i"}}
  {{/paper-autocomplete}}

  {{#paper-select
    label="Choose a tournament..."
    options=model.tournaments
    triggerClass="selectTournament"
    selected=myTournament
    onChange=(action (mut myTournament))
    as |tournament|}}
    {{tournament}}
  {{/paper-select}}

  {{#paper-select
    label="Choose a period..."
    options=model.period
    triggerClass="selectPeriod"
    selected=myPeriod
    onChange=(action (mut myPeriod))
    as |period|}}
    {{period}}
  {{/paper-select}}

  {{#paper-button
    raised=true
    primary=true
    onClick=(action "showPlayerResults")}}
    GO
  {{/paper-button}}
</div>

<h1>Player list:</h1>
<ul>
  {{#each model.players as |person|}}
    <li>{{person.firstName}} {{person.lastName}}</li>
  {{/each}}
</ul>